@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
    --blue: #C9F0FF;
    --darkblue: #153243;
    --lighterdarkblue: #28536B;
    --red: #F05D5E;
    --green: #40B57A;
    --yellow: #FFE66D;
    --brown: #302908;
    --grey: #686868;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
