@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
    --blue: #7BBAF4;
    --darkblue: #153243;
    --lighterdarkblue: #28536B;
    --red: #F05D5E;
    --lightred: #f7ebeb;
    --green: #40B57A;
    --lightergreen: #e8edeb;
    --mint: #c6f5de;
    --yellow: #FFE66D;
    --brown: #302908;
    --grey: #686868;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#socialpanel {
    display: inline-flex;
    gap: 10px;
    margin-top: 5px;
    /* transform: translateY(2px); */
    /* padding-left: 10px; */
}

#actualname {
    /* transform: translateY(-7px); */
}

.ic {
    transform: translateY(1px);
    padding-right: 6px;
}

.header-social {
    cursor: pointer;
    outline:none;
    text-decoration:none;
    color: inherit;
    font-size: min(16px, 3.6vw);
    margin-top: 3px;
    transform: translateY(-3px);
    color: var(--lightergreen);
    opacity: 0.7;
    transition: color 0.5s, opacity 0.5s;
}

#header-github:hover {
    color: black;
    opacity: 1;
}

#header-twitter:hover {
    color: #1DA1F2;
    opacity: 1;
}

#header-reddit:hover {
    color: #FF5700;
    opacity: 1;
}



#header-search {
    padding-right: 10px;
    margin-right: 4px;
    border-right: 1px solid #a4d998;
    padding-bottom: 3px;
    /* color: #7d7d7d; */
    transition: color 0.5s;
}

#header-search:hover {
    color: #454545;
}

.link {
    border-bottom: solid 1px #eaedad;
    transition: border-width 0.4s;
}


.link:hover {
    border-bottom: solid 4px #eaedad;
}


