/* Main Page */
.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* NavBar */
.navbar {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--green) 50%, var(--yellow) 50%);

    @apply justify-between;
}

.navbaritem {
    width: 25vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-10deg);
    font-size: 50px;
    cursor: pointer;
}

.navbaritem > a {
    border-bottom: solid 10px;
    line-height: 60px;
}

.navbaritem#projects {
    color: white;
    background: var(--green);
}

.navbaritem#research {
    color: var(--darkblue);
    background: var(--blue);
}

.navbaritem#production {
    color: var(--lightred);
    background: var(--red);
}

.navbaritem#about {
    color: var(--brown);
    background: var(--yellow);
}



/* InfoBar */
.infobar {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


