.section {
    position: relative;
    display: grid;
    overflow: hidden;
}

.canvas {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    filter: blur(0.5em);
    transform: scale(1.05);
}

.content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sectionCall {
    padding-right: 5vw;
    padding-left: 5vw;
    transform: translateX(5vw);

    background-size: 100%;

    display: grid;
    font-size: min(13vw, 150px);
    font-weight: 700;
    line-height: 1.1;
}

.sectionSub {
    display: none;
    font-weight: 600;
}

.hide {
    grid-column: 1;
    grid-row: 1;
    color: transparent;
    opacity: 0;
}
