.section {
    position: relative;
    display: grid;
    overflow: hidden;
}

.canvas {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    filter: blur(0.5em);
    transform: scale(1.05);
}

.content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sectionCall {
    font-size: min(13vw, 150px);
    font-weight: 700;
    line-height: 1.1;
    padding-right: 5vw;

    background-size: 100%;
    padding-left: 5vw;

    width: 100%;
    height: 50%;

    // background: rgba(white, 0.1);
    // backdrop-filter: blur(50px);
}

.sectionSub {
    display: none;
    // display: inline;
    font-weight: 600;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
